<h1>Welcome#contact</h1>
<<<<<<< HEAD
<p>Find me in app/views/welcome/contact.html.erb</p>
<<<<<<< HEAD
  
=======
  <ul>
        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
  </ul>
>>>>>>> 4b67b34ff3ac57d897c10df8dd61afecfc4dfbb1
=======
<p>Find me in app/views/welcome/contact.html.erb</p>
>>>>>>> master
